.art-gellery {
    @extend %section;
    .page-gallery{
        padding: 75px 0;
        @include media-landskape {
          padding: 60px 0;
      }
      @include media-portrete {
        padding: 40px 20px;
    }
    }
   }

   
  .page-gallery {
    margin: 0;
  }
  .picture-container {
    overflow-y: hidden;
    max-height: 1950px;
    width: $content-width-desktop;
    @include media-landskape {
     max-width: ($content-width-landskape)-40px;
     max-height: 1265px;
   }
   @include media-portrete {
   max-width: ($content-width-portrete)-20px;
    max-height: 1080px;
  }
}
  
  .picture-inner-container {
    max-height: 2950px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 36px;
    @include media-landskape {
      max-height: 1950px;
    }
    @include media-landskape {
      max-height: 2050px;
    }
    @include media-portrete {
      max-height: 5250px;
      padding-left: 20px;
      gap: 24px 24px;
      justify-content: space-around;
    }
  }

  .picture-gallery {
    width: 456px;
    max-height: 570px;
    column-gap: 36px;
   &:first-child{
       padding-top: 50px;
   }
   &:nth-child(11n) {
    padding-top: 50px;
   }
   @include media-landskape {
    max-width: 304px;
    max-height: 380px;
   }
   @include media-portrete {
    max-width: 352px;
    max-height: 440px;
   }
  }