.contacts {
   @extend %section;
  }

.wrapper__contacts {
    @extend %wrapper_section;
    margin: 75px auto;
    @include media-landskape {
        margin: 60px auto;
        padding: 0 20px;
    }
    .contacts_page {
        @extend %element_row;
        padding-top: 75px;
        @include media-landskape {
            padding-top: 60px;
        }
    }
   
    .big-text {
        font-family: "Roboto";
        @include font(500, 2.8rem, 3.3rem, 1px, 0, capitalize);
        padding-bottom: 50px;
        &:first-child {
            padding-bottom: 0px;
        }
    }
    h5 {
        margin-bottom: 20px;
        a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .map {
        @include media-landskape {
            max-width: 694px; 
    }
    
}
}

.gold-line {
    @include media-landskape {
        max-width: ($content-width-landskape)-80px; 
}
}
   