.header {
    padding: 62px 0;
    // margin: 0 auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 775px;
    align-items: center;
}

.navigation__link {
    font-weight: 200;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 2px;
}