.header {
    padding: 62px 0;
    // margin: 0 auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation {
    display: flex;
}

.navigation__link {
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
}