.video {
    @extend %section;
      
   }
 
 .wrapper__video {
     @extend %wrapper_section;
     margin: 75px auto;
     @include media-landskape {
        margin: 60px auto;
        padding: 0 20px;
    }
     .video_page {
         @extend %element_row;
         padding-top: 75px;
     }
     .page-video-text {
        @extend %element_row;
        padding-bottom: 50px;
        @include media-landskape {
            padding-bottom: 40px;
         }
         p {
             margin: 0;
             max-width: 720px;
             @include media-landskape {
                 display: none;
             }
         }
     }
     .video-small {
        @extend %element_row; 
        .player-small {
            padding-right: 42px;
            &:last-child{
                padding-right: 0;
            }
            @include media-landskape {
                max-width: 300px; 
            }
         }
     }
     
    }

  