.welcom {
    display: flex;
    &_part {
        position: absolute;
        margin-top: 150px;
        z-index: 10;
    };
    &_pictures {
        position: relative;
        z-index: 1;
        max-width: 1000px;
        height: 750px;
        padding-bottom: 60px;
        margin-left: 30%;
        overflow: hidden;
        
}
}
 /*.
  
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);}*/


.welcom_photos_padding {
    padding-bottom: 60px;
   
}

.welcom_pictures_photos {
    position: absolute; 
    z-index: 2;
    content: "";
    background-color: blue;
    width: 20%;
};


//slider
.slider {
    position: absolute;
   @extend %element_row;
   align-items: center;
    z-index: 50;
    bottom: 0; 
    right: 0;
    text-align: center;
    background-color: $color-bg-dark;
    width: 600px;
    height: 120px;
    padding: 0 75px;
    cursor: pointer;
    &_dots {
        width: 180px;
        display: flex;
        justify-content: space-between;
    }
    &_item {
        background-color: $color-font-light;
        height: 16px;
        width: 16px;
        &:hover {
            background-color:$color-photo-unviseted;   
            transition: 0.5s;  
        }    
}
}



.slider_btn {
display: flex;
}

.arrow_l-r {
    color: $color-font-light;
    width: 30px;
    &:hover {
        color:$color-photo-unviseted;  
        transition: 0.5s;
    }
}

