.welcom {
    display: flex;
}

.welcom_part{
    position: absolute;
    margin-top: 150px;
    z-index: 10;
}

.welcom_pictures {
position: relative;
max-width: 1000px;
height: 750px;
padding-bottom: 60px;
margin-left: 30%;
overflow: hidden;
}

.welcom_photos_padding {
    padding-bottom: 60px;
}

.welcom_pictures_photos {
    position: absolute; 
    z-index: 2;
    top: 0;
    left: 0;
    background-color: blue;
    width: 20%;
    height: 850px;
    /*z-index: 5;
    top: 0;
    left: 0;
    height: 810px;
    width: 1000px;
    content: "";
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);*/
}

//slider
.slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    bottom: 0; 
    right: 0;
    text-align: center;
    background-color: $color-bg-dark;
    width: 600px;
    height: 120px;
    padding: 0 75px;
    cursor: pointer;
        
}

.slider_dots {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.slider_item {
    background-color: $color-font-light;
    height: 16px;
    width: 16px;
}

.slider_item:hover {
    background-color:$color-photo-unviseted;   
    transition: 0.5s;
   
}

.slider_btn {
display: flex;
}

.arrow_l-r {
    color: $color-font-light;
    width: 30px;
}

.arrow_l-r:hover {
    color:$color-photo-unviseted;  
    transition: 0.5s;
}