html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 2.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 38px;
  }

h1 {
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.3rem;
    letter-spacing: 2px;
    color: $color-font-light;
   // color: $color-font-light;
  }
  
  h2 {
    font-family: "Forum";
    font-weight: normal;
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    //color:  $color-font-light;
    margin: 0;
  }

  h3 {
    font-family: "Forum", cursive;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 3.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
  }
    
  h5 {
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin: 0;
  }

    ul {
    display: flex;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  }

  li {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    padding-right: 55px;
 }

 li:last-child {
  padding-right: 0;
 }


 //fonts in document
 //fonts-header
  .text_white_gold {
    text-decoration: none;
    color: $color-font-light;
  }

  .text_white_gold:hover {
    color: $color-font-gold-hover;
    letter-spacing: 3px;
    transition: 1.5s;
  }
  
.louvre {
  font-family: "Forum";
  font-size: 2.8rem;
  line-height: 3.1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

//fonts Welcome
.light-text {
  color: $color-font-light;
}
//fonts virtual, video, tick, cont
.gold-text {
  color:$color-font-gold-hover;
}

//virtual
 a {
text-decoration: none;
color: $color-bg-dark;
 }

 .bigger-tuor {
  font-size: 2.2rem;
  line-height: 2.6rem;
  padding: 10px 0;
  margin: 0px;
 }

 .smaller-panorama {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin: 0px;
 }

//svg
.louvre__svg {
  background-image: url(../assets/svg/Vector-louvre.svg);
  width: 49px;
  height: 26px;
  margin: 8px 26px 0 0;
  display: inline-block;
} 
.louvre__svg:hover{
  filter: invert(52%) sepia(27%) saturate(431%)
    brightness(85%) contrast(87%);
    transition: 1.5s;
}

