.video {
    @extend %section;
      
   }
 
 .wrapper__video {
     @extend %wrapper_section;
     margin: 75px auto;
     @include media-landskape {
        margin: 60px auto;
        padding: 0 20px;
    }
    @include media-portrete {
        margin: 40px 0;
    }
    @include media-min {
        padding: 0 5px;
    }
     .video_page {
         @extend %element_row;
         padding-top: 75px;
     }
     .page-video-text {
        @extend %element_row;
        padding-bottom: 50px;
        @include media-landskape {
            padding-bottom: 40px;
         }
         @include media-portrete {
            padding-bottom: 20px;
            overflow: hidden;
         }
         p {
             margin: 0;
             max-width: 720px;
             @include media-landskape {
                 display: none;
                 max-width: 50px;
             }
         }
     }

     .video_window-view{
        position: relative;
        z-index: 1;
        max-width:$content-width-desktop;
        max-height: 252px;
        @include media-portrete {
            max-width: $content-width-portrete;
        }
        overflow: hidden;
     .video-small {
         display: flex;
         flex-wrap: wrap-reverse;
        @extend %element_row; 
        @include media-portrete {
            max-width: ($content-width-portrete)-40px;
        }

        .player-small {
            padding-right: 42px;
            width: 452px;
            height: 254px;
            &:nth-child(5){
                padding-right: 0;
            }
            @include media-landskape {
                max-width: 300px; 
            }
            @include media-portrete {
                max-width: 354px; 
                max-height: 200px; 
                justify-content: space-between;
                padding-right: 20px;
                &:last-child{
                   display: none;
                }
            }
            @include media-phone {
                max-width: 180px; 
                max-height: 100px; 
            }
            @include media-min {
                max-width: 140px; 
                max-height: 100px; 
                padding-right: 5px;
            }
         }
     }
    }
    }

  //video small
  .all_video_small{
      display: flex;
      flex-direction: column;
       .slider_video{
        display: flex;
        cursor: pointer;
        width: 200px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        
        .video_circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            &:hover {
                background-color: $color-video-hover;
            }
           
        }
       .arrow_left,
       .arrow_right {
           &:hover {
           color: $color-video-hover;
           font-size: 4rem;
           }
       }
      }
      
  }

  .item_grey {
  background-color: $color-player-hover;
  }
  .item_red {
    background-color: $color-video-hover;
   }
   // video big
   .video-big-player{
       padding-bottom: 40px;
       cursor: pointer;
   .video-big {
       width: $content-width-desktop;
       height: 650px;
   }
}

button {
    cursor: pointer;
    border: none;
    background-color: black;
    z-index: 5;
  }
  
 
  /*.player-play-big,*/
  .with-img {
    width: 1440px;
    height: 700px;
  }
  
  .big-video-individ {
    width: 1440px;
    height: 850px;
  }
  
  .player {
    max-width: 1440px;
    height: 85px;
    display: flex;
    flex-direction: row;
  }
  .player-play-5s,
  .player-next-5s,
  .player-sound {
    padding: 28px 41px;
  }
  .player-sound {
    padding-right: 20px;
  }
  .player-play-normal {
    padding: 28px 0;
  }
  .toPause {
    width: 22px;
    height: 30px;
  }
  .player-play-video,
  .player-play-sound {
    padding: 35px 0;
  }
  .player-play-sound {
    padding-right: 35px;
  }
  .screen-full {
    width: 36px;
  }
  .progress-video {
    width: 820px;
  }
  .progress-sound {
    width: 155px;
  }
  