%section {
    display: flex;
    margin: auto;
}

%transition {
    transition: all 1s ease-out;
}

.text_virtual:hover {
    .gold-line-grown {
    @extend %transition;
    }
}

%font-h {
    font-family: "Forum", cursive;
}

%wrapper_section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }

   %element_row {
    display: flex;
    justify-content: space-between;
    
   }