/*--font1: 80px;
    --font2: 32px;*/
  
  @font-face {
    font-family: "Roboto", sans-serif;
    src: url("assets/fonts/RobotoThin.ttf");
    src: local("Roboto");
    font-weight: 400;
    font-style: normal ;
  }
  
  
  li {
    list-style-type: none; /* Убираем маркеры */
  }
  ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
  .txt-buy {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .header-container {
    padding: 75px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper {
    width: 1440px;
  }
  .logo {
    margin-right: 145px;
  }
  .navigation {
    display: flex;
    flex-direction: row;
  }
  
  .louvre {
    font-family: "Forum", cursive;
    font-size: 28px;
  
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--ligth-wight);
    text-decoration: none;
    padding-right: 5px;
  }
  .links-in-nav {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--ligth-wight);
    text-decoration: none;
    margin-right: 76px;
  }
  
  .gold:hover {
    color: var(--font-gold);
  }
  
  .links-in-nav-btn {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--ligth-wight);
    text-decoration: none;
    margin-right: 76px;
  }
  .links-in-nav:last-child {
    margin-right: 0;
  }
  
  /*main page*/
  
  .dark-section {
    background-color: var(--bg-dark);
    margin: 0;
    z-index: -1;
  }
  .padding_first {
    padding-bottom: 62px;
  }
  
  .video-section {
    padding: 90px 0 75px 0;
  }
  
  /*page-1*/
  .container-1 {
    margin: 0 auto;
    display: flex;
    height: 750px;
    max-width: 1440px;
    background-image: url(/assets/mona-slider.jpg);
    background-repeat: no-repeat;
    background-position: calc(35% + 300px);
    justify-content: space-between;
  }
  .blur {
    backdrop-filter: blur(25px);
    width: 35%;
  }
  .slider {
    padding-top: 690px;
  }
  .base-slider {
    height: 120px;
    width: 600px;
  }
  
  .right-part > div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  /*.container-photo {
    margin: 0 auto;
    display: flex;
    max-width: 1920px;
  }
  .backphoto1 {
    width: 1000px;
    height: 750px;
  }*/
  .page-1 {
    width: 750px;
    height: 390px;
    padding-top: 115px;
  }
  
  .darck-red-btn {
    background: var(--dark-red);
    padding: 25px 65px;
    border-color: var(--dark-red);
    border-radius: 10px;
  }
  .darck-red-btn:hover {
    background-color: var(--font-gold);
    border-color: var(--font-gold);
    transition: 1s;
  }
  
  /*2-d page*/
  .container-2 {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
  }
  .page-2 {
    padding-top: 75px;
  }
  .gold-line {
    padding-top: 25px;
  
    height: 3px;
  }
  .photos-row-1,
  .photos-row-2 {
    display: flex;
    flex-direction: row;
  }
  .photos-row-2 {
    padding-bottom: 86px;
  }
  .photos {
    color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    padding-right: 60px;
  }
  .photo-label {
    width: 440px;
    height: 285px;
    padding: 75px 0 25px 0;
  }
  
  .gold-line-small {
    width: 300px;
    height: 2px;
  }
  
  .gold-line-small:hover {
    width: 440px;
    transition: 0.5s;
  }
  .bigger-tuor {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    padding: 10px 0;
    margin: 0px;
  }
  .smaller-panorama {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    margin: 0px;
  }
  /*3-d page*/
  .page-3 {
    display: flex;
    flex-direction: row;
  }
  .p-explore {
    color: var(--ligth-wight);
    padding-top: 64px;
  }
  .gold-line-3 {
    width: 660px;
    height: 3px;
    padding: 25px 0 50px;
  }
  .text3 {
    color: var(--ligth-wight);
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    width: 660px;
    padding-top: 25px;
    margin: 0;
  }
  .yellow-text {
    color: var(--gold-text);
  }
  .quins-3-photo {
    padding: 90px 0 75px 60px;
    width: 720px;
    height: 700px;
  }
  
  /*page-video*/
  .photo-for-video {
    width: 1440px;
    height: 714px;
  
    position: absolute;
    z-index: -1;
  }
  .page-video-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .darck {
    color: var(--bg-dark);
    padding: 0 0 0 80px;
  }
  .player {
    width: 1440px;
    padding: 75px 0 40px;
  }
  .player-big {
    height: 735px;
    width: 1440px;
    margin: 40px 0;
  }
  .video-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .player-small {
    height: 254px;
    width: 452px;
  }
  
  /*page galery*/
  .page-gallery {
    margin: 0;
  }
  .picture-container {
    overflow-y: hidden;
    max-height: 1950px;
    padding-top: 50px;
  }
  
  .picture-inner-container {
    max-height: 2950px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 36px;
  }
  .picture-gallery {
    width: 456px;
    max-height: 570px;
    column-gap: 36px;
  }
  /*.blur-bottom {
  }*/
  
  /*page tickets*/
  .photo-tickets {
    width: 720px;
    height: 550px;
  }
  .tickets {
    padding: 75px 0;
  }
  .tickets-photo-buying {
    display: flex;
    flex-direction: row;
    padding-top: 75px;
  }
  .radio-btn {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
  .amount {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: auto;
  }
  .circlemark {
    margin-right: 20px;
    height: 17px;
    width: 17px;
  }
  input[type="radio"]:after {
    width: 15px;
    height: 15px;
    top: -5px;
    left: -1px;
    border-radius: 17px;
    position: relative;
    background-color: var(--ligth-wight);
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--bg-dark);
  }
  input[type="radio"]:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    background-color: var(--bg-dark);
    content: "";
    display: inline-block;
  
    border: 2px solid var(--bg-dark);
  }
  
  .padTxt {
    padding: 30px 0;
  }
  .amount-input {
    display: flex;
    width: 150px;
    height: 50px;
    border: 3px solid var(--bg-dark);
    justify-content: center;
    margin-top: 5px;
    margin-left: 25px;
  }
  
  .centre {
    border: 0px;
    text-align: center;
    float: left;
  }
  
  .age {
    text-align: start;
  }
  .amount button {
    background-color: var(--ligth-wight);
    border: 0;
    font-size: 32px;
  }
  .buy {
    margin: 0;
    border: var(--ligth-wight);
    color: var(--ligth-wight);
    background-color: var(--bg-dark);
    border-radius: 2px;
    margin-top: 30px;
    padding: 15px 40px;
  }
  .buy:hover {
    background-color: var(--font-gold);
    color: var(--bg-dark);
  }
  .parallax {
    width: 1920px;
    height: 400px;
    margin: 0 auto;
  }
  /*map and contackts*/
  .page-6 {
    display: flex;
    flex-direction: row;
    padding: 75px 0;
  }
  .whole-adress {
    padding-right: 198px;
  }
  .big-text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  
    margin: 0;
  }
  
  .adress {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: var(--bg-dark);
    padding: 18px 0 0 0;
    margin: 0;
  }
  .adress:first-child {
    padding-top: 35px;
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
  }
  .foot {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 75px auto;
    justify-content: space-between;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .column {
    flex-direction: column;
    column-count: 2;
  }
  .louvre-footer {
    font-family: "Forum", cursive;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--ligth-wight);
    text-decoration: none;
    margin: 0px 145px 0 20px;
  }
  .navigation-footer,
  .links-in-nav {
    display: flex;
    flex-direction: row;
  }
  .links-in-nav-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-in-nav-2 {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
  }
  .social-links {
    width: 24px;
    height: 24px;
    color: var(--ligth-wight);
    padding-right: 24px;
  }
  .social-links:last-child {
    padding-right: 0;
  }
  .social-links:hover {
    color: var(--font-gold);
  }
  
  .links-in-nav-icons {
    margin-left: 398px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }
  .footer__inner {
    display: flex;
    align-items: flex-start;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 366px;
    max-height: 150px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .footer__links li {
    margin-right: 153px;
  }
  
  .social {
    align-self: flex-end;
    display: flex;
    height: 48px;
    margin-left: auto;
  }
  
  .social__links {
    margin-left: 24px;
    width: 48px;
    height: 48px;
    filter: drop-shadow(0px 0px 0px #666666);
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  .social__links:hover {
    filter: invert(52%) sepia(27%) saturate(431%) hue-rotate(356deg)
      brightness(85%) contrast(87%);
  }
  .louvre__svg:hover{
    filter: invert(52%) sepia(27%) saturate(431%)
      brightness(85%) contrast(87%);
  }
  
  .social__site {
    display: block;
    display: flex;
    align-items: center;
    padding: auto;
    margin: auto;
  }
  
  .site__logo {
    margin-right: 145px;
  }
  .end {
    display: flex;
    flex-direction: column;
  }
  .finish {
    max-width: 1950px;
  
    margin: 0 auto;
    filter: grayscale(100%);
    height: 5px;
  }
  .sites {
    text-decoration: none;
  }
  .links-in-nav:hover {
    color: var(--font-gold);
  }
  .navigation-footer{
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
  }
  /*SVG style*/
  .louvre__svgfoot {
    background-image: url(../assets/svg/Vector-louvre.svg);
    width: 49px;
    height: 26px;
    margin: 0 26px 8px 0;
    display: inline-block;
  }
  
  @media (max-width: 1950px) {
    :root {
      --font1: 50px;
      --font2: 28px;
    }
  }