$color-bg-dark:#030303;
$color-dark-red: #710707; 
$color-font-gold-hover: #9D8665;
$color-font-gold-active:#7E6C51;
$color-font-light: #ffffff;
$color-player-active: #B3B3B3;
$color-player-hover: #989898;
$color-menu-choose: #E7E7E7;
$color-photo-unviseted:#D2B183;
$color-photo-notactive: #ffffff;
$color-photo-hover: #9D8665;
$color-video-unviseted:#333333;
$color-video-notactive:#999999;
$color-video-hover: #710707; 

$content-width-desktop: 1440px;
$content-width-landskape: 984px;
$content-width-portrete: 728px;
$content-width-phone: 380px;
$content-width-min: 300px;
